/**
* @source: http://scroll.hmplus.net/ndxz-studio/site/scroller_theme/style.css
* 
* @version 1.0
* @author Vaska 
* @author Gregory Cadar
* @author Scroller Theme by Mathieu Hardiviller (www.hmplus.net)
* using brain-time from Vaska and Nicolas Robert
* and the JQuery Scroll Menu from http://www.queness.com/

*/
* {
  margin : 0;
  padding : 0;
}

body {
  font-size: 5pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: white;
  line-height : 120%;
}

body.section-1 { }
body.section-2 { }
body.section-3 { }

/* LINKS */
/* colors for all links */
a:link {
  text-decoration: none;
  background-color: #31B8DA;
  color: black;
}

a:active {
  text-decoration: none;
  background-color: #31B8DA;
  color: black;
}

a:visited {
  text-decoration: none;
  background-color: #31B8DA;
  color: black;
}
	
a:hover { 
  text-decoration: none;
  background-color: #31B8DA;
  color: #DDDDDD;
}

a img { border: none; }


/* PRE NAV TEXT - Can be accessed in the Exhibit Settings */
#top-section {
  position: fixed;
  z-index : 900;
  right : 0;
  width: auto;
  margin: 75px 10px 6px 0;
  font-size: 8px;
  font-weight: bold;
  line-height : 170%;
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
}
#top-section a { /* this is the link property inside the Top-Section */
  text-decoration: none;
  color: black;
  font-weight: 100;
}
#top-section a:hover { /* link property inside the Top-Section when the cursor is over */
  color: black;
}
#top-section p {
  text-align: right;
}

/* MENU */

#sidebar {
  z-index:80;
  height:100%;
  width:220px;
  overflow:hidden;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
}	

#menu {
  height:100%;
  width:100%;
  list-style:none;
  padding-top:75px;
  margin:0;
  top:0;
  bottom:0;
  position:relative;
}

#menu li {
  padding-top:10px;
  margin-bottom:6px;
  text-align:left;
  display:block;
  cursor:hand;
  cursor:pointer;
}

#menu li a {
  background:url() repeat #1f1f1f;
  font-family:helvetica, arial, verdana;
  text-transform:uppercase;
  font-size:9px;
  font-weight:900;
  color:#DDDDDD; 
  padding:8px 8px 6px 8px;
} 

#menu li a:active {
  background:url() repeat #31b8da;
} 
   
#menu li span {
  font-family:helvetica, arial, verdana;  
  font-size:9px;  
  text-style:italic;
  color:#1f1f1f; 
  padding:8px 0px 6px 2px; 
}  

#menu ul li.section-title { }

/* Fonts / Typefaces */

#content p {
  width: 100%;
  margin: 0px 0px 5px 0px;
  position: static;
}

p {
  font-size: 8pt;
  line-height: 150%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 12px;
}

h1 { 
  letter-spacing: -20px;
  line-height: 100%;
  font-size:1500%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 20px 0px 50px -20px;
}

h2 {
  font-size:500%;
  line-height: 120%;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 0px 0px 10px 0px;
}

h3 {
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 0px 0px 10px 0px;
}

h4 {
  font-size: 12px;
}

/* End Fonts / Typefaces */

#once { clear: left; }
