/**
* @source: http://scroll.hmplus.net/ndxz-studio/site/scroller_theme/style.css
*
* @version 1.0
* @author Vaska
* @author Gregory Cadar
* @author Scroller Theme by Mathieu Hardiviller (www.hmplus.net)
* using brain-time from Vaska and Nicolas Robert
* and the JQuery Scroll Menu from http://www.queness.com/

*/
* {
  margin : 0;
  padding : 0;
}

body {
  font-size: 5pt;
  font-family: ropa-sans, serif;
  text-align: left;
  background-color: white;
  line-height : 50%;
}

body.section-1 { }
body.section-2 { }
body.section-3 { }

ul {
  list-style:none;
}

h1 {
  z-index: 2;
}
/* LINKS */
/* colors for all links */
a:link {
  text-decoration: none;
  color: #31B8DA;
}

a:active {
  text-decoration: none;
  color: #31B8DA;
}

a:visited {
  text-decoration: none;
  color: #31B8DA;
}

a:hover {
  text-decoration: none;
  color: #31B8DA;
}

a img { border: none; }


/* PRE NAV TEXT - Can be accessed in the Exhibit Settings */
#top-section {
  position: fixed;
  z-index : 900;
  right : 0;
  width: auto;
  margin: 75px 10px 6px 0;
  font-size: 8px;
  font-weight: bold;
  line-height : 170%;
  color: #1a1a1a;
  font-family: ropa-sans, serif;
}
#top-section a { /* this is the link property inside the Top-Section */
  text-decoration: none;
  color: black;
  font-weight: 100;
}
#top-section a:hover { /* link property inside the Top-Section when the cursor is over */
  color: black;
}
#top-section p {
  text-align: right;
}

/* MENU */

#sidebar {
  z-index:80;
  height:100%;
  width:420px;
  overflow:hidden;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
}

#menu {
  height:100%;
  width:100%;
  padding-top:75px;
  margin:0;
  top:0;
  bottom:0;
  position:relative;
}

#menu li {
  padding-top:10px;
  margin-bottom:6px;
  text-align:left;
  display:block;
  cursor:hand;
  cursor:pointer;
  margin:18px 18px 16px 18px;
}

#menu li a {
  background:url() repeat #FFFFFF;
  font-family: istok-web, serif;
  /* text-transform:uppercase; */
  font-size:14px;
  font-weight:900;
  color:#000000;
  padding:4px 4px 3px 4px;
}

#menu li a:active {
  background:url() repeat #31b8da;
}

#menu ul li.section-title { }

/* Fonts / Typefaces */

#content p {
  width: 100%;
  margin: 0px 0px 5px 0px;
  position: static;
}

p {
  font-size: 8pt;
  line-height: 150%;
  font-family: ropa-sans, serif;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 12px;
}

h1 {
  letter-spacing: 2px;
  line-height: 100%;
  font-size: 300%;
  font-weight: bold;
  font-family: ropa-sans, serif;
  font-weight: 300;
  text-align: left;
  text-transform:uppercase;
  padding: 20px 0px 50px -20px;
}

h2 {
  font-size:500%;
  line-height: 120%;
  font-weight: normal;
  font-family: ropa-sans, serif;
  text-align: left;
  padding: 0px 0px 10px 0px;
}

h3 {
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -5px;
  font-weight: bold;
  font-family: ropa-sans, serif;
  text-align: left;
  padding: 0px 0px 10px 0px;
}

h4 {
  font-size: 12px;
}

/* End Fonts / Typefaces */

.container, .content {
  display: inline;
  overflow-y: hidden;
  overflow-x: hidden;
  float: left;
  z-index: 0;
}
.content li {
  padding: 0px 0px 25px 10px;
  margin: 0px 0px 0px 0px 0px;
}
